extends ../layouts/main

block content
  .d-sm-flex.align-items-center.justify-content-between.mb-4
    h1.h3.mb-0.text-gray-800 Dashboard Staf Administrasi

  .card.shadow.mb-4
    .card-body.bg-light
      form(method="GET" action="/staf-admin")
        .row.align-items-end
          .col-md-5.mb-2
            label.small.font-weight-bold.text-dark Cari Judul Draf
            input.form-control(type="text" name="search" placeholder="Masukkan judul draf..." value=filters.search)
          .col-md-4.mb-2
            label.small.font-weight-bold.text-dark Filter Tahun
            select.form-control(name="tahun")
              option(value="") -- Semua Tahun --
              if listTahun
                each thn in listTahun
                  option(value=thn selected=(filters.tahun === thn.toString())) #{thn}
          .col-md-3.mb-2
            button.btn.btn-primary.btn-block(type="submit")
              i.fas.fa-search.mr-1
              | Filter
              
  .card.shadow.mb-4
    .card-header.py-3.bg-dark
      h6.m-0.font-weight-bold.text-white Draf Pengadaan (LOCKED / PROSES)
    .card-body
      .table-responsive
        table.table.table-bordered.table-hover
          thead.thead-light
            tr
              th(style="width: 50px") No
              th Judul Draf
              th(style="width: 120px") Tahun
              th(style="width: 200px") Aksi
          tbody
            if dataDraf && dataDraf.length > 0
              each draf, index in dataDraf
                tr
                  td #{index + 1}
                  td.font-weight-bold.text-primary #{draf.judul_draf}
                  td #{draf.tahun}
                  td
                    a.btn.btn-success.btn-sm.btn-block(href=`/staf-admin/draf/${draf.id_draf}`)
                      i.fas.fa-boxes.mr-1
                      | Kelola Penerimaan
            else
              tr
                td.text-center(colspan="4") Tidak ada draf pengadaan yang siap diproses.